@font-face {
	font-family: KlinicSlabBold;
	src: url("../fonts/KlinicSlabBold.otf") format("opentype");
}

@font-face {
    font-family: KlinicSlabBookIt;
	src: url("../fonts/KlinicSlabBookIt.otf") format("opentype");
}

@font-face {
    font-family: KlinicSlabBook;
	src: url("../fonts/KlinicSlabBook.otf") format("opentype");
}

body { 
    margin: 0px;
    padding: 0px;
    font-family: 'KlinicSlabBook', sans-serif;
    font-size: 17px;
    background-size: cover;
    background-color: #fff;
    overflow-x: hidden;
    width: 100%;
  }
  
a {
    color: #CF1C44;
}

a:hover {
    color:  #0B9446;
    transition: 0.35s;
}


blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

h1, h2, h3, h4, h5 {
    font-family: 'KlinicSlabBold', sans-serif;
    text-align: center;

} 
h1 {
    font-size: 70px;
    font-weight: bold;
    color: #CF1C44;
}

h2 {
    font-size: 30px;
    color: #000;
}

h3 {
    font-size: 25px;
    color: #fff;
}

h4 {
    font-size: 20px;
    color: #fff;
}
h5 {
    font-size: 18px;
    color: #CF1C44;
}
p {
    line-height: 1.8;
}

/* Button Styles */

.btn-dark:hover {
    background-color: #0B9446;
    border-color: #0B9446;
    transition: 0.35s;
}

/* Card Styles */

.card {
	border-radius: 5pt;
	border: none;
	}

.card-body {
    border: none;
    border-radius: 5pt;
}

.card p{
    font-size: 16px;
}

/* Navigation Bar */
#nav {
    background-color: #000;
    margin: 0px;
    color: #fff;
}
 
nav {
    background-color: #000;
    margin: auto;
    color: #fff;
    font-size: 20px;
    font-family: 'KlinicSlabBold', sans-serif;
    padding: 10px ;
}

nav a {
    color: #fff;
}

#navbarNav a {
    color: #fff;
}

#navbarNav a:hover {
    color: #CF1C44;
    transition: 0.35s;
}


/** Sections **/ 

/* Hero */
#hero {
    padding-top: 13rem;
    padding-bottom: 12.5rem;
    background-image: url(../img/hero-chef-cooking.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

@media (min-width: 301px) and (max-width: 1024px) {
    #hero {
        background-size: auto 100%;
    }
}

/* About */
    .frame {
        background-color: #0B9446;
        color: #fff;
        font-family: 'KlinicSlabBookIt', sans-serif;
        font-size: 20px;
        padding: 15px;
        width: 100%;
        text-align: center;
    }

    .welcome {
        background-image: url(../img/welcome-wine.png);
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
    }

  @media (min-width: 301px) and (max-width: 1024px) {
    .welcome {
        background-size: auto 100%;
        height: 50vh;
    }
  }

/* Divider */

#divider-restaurant {
    background-image: url(../img/divider-restaurant.png);    
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    text-align: center;
    height: 60vh;
}

@media (min-width: 301px) and (max-width: 1024px) {
    #divider-restaurant {
        background-size: auto 100%;
    }
}

/* Cuisine */

#cuisine {
    background-color: #CF1C44;
    height: 60vh;
}

@media (min-width: 301px) and (max-width: 1024px) {
    #cuisine {
        background-color: #CF1C44;
        height: 100vh;
    }
  }

/* Services */
#services {
    background-color: #000;
}

/* Newsletter */
#newsletter {
    background-color: #0B9446;
    padding: .75em;
}

/* Contact */
    .map {
        height: 70vh;
    }

/* Menu */

#heroMenu {
    padding-top: 10rem;
    padding-bottom: 12.5rem;
    background-image: url(../img/splash-kitchen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 70vh;
  }

@media (min-width: 301px) and (max-width: 1024px) {
  #heroMenu {
      background-size: auto 100%;
  }
}

#menu {
    height:100%;
}

.splashflag {
    text-align: center;
    padding-top: 125px;
    padding-bottom: 150px;
}


/* Footer */
#footer {
    background-color: #000;
    color: #fff;
    font-family: 'KlinicSlabBookIt', sans-serif;
    font-size: 16px;
    width: 100%;
    margin-bottom: 0px;
    padding: 20px;
    overflow: hidden;
    text-align: center;
}


#footer a {
    font-family: 'KlinicSlabBookIt', sans-serif;
    font-size: 16px;
    color: #fff;
}
#footer a:hover {
    color: #CF1C44;
    transition: 0.35s;
}