/*** BASE CSS ***/

body {
  background-color:#ffb72b;
  background-image: url(../img/background-pattern.png);
  background-size: 50%;
  background-repeat: repeat;
  font-family: 'calder-lc', sans-serif;
  font-size: 17pt;
  color: #fff;
}

h1, h2, h3 {
  font-family: 'social-gothic', sans-serif;
  font-weight: 700;
  color: #fff;
}

h1{
  font-size: 40pt;
  letter-spacing: .1em;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 17pt;
}

h4 {
  font-family: 'social-gothic', sans-serif;
  font-weight: 600;
  font-size: 17pt;
  color: #ff7f3f;
  letter-spacing: .05em;
}

a {
  color: #fff;
}

a:hover {
  color: #95C843;
  transition: 0.35s;
}

hr { 
	background-color: #fff; 
	height: 1px; 
	border: 0; 
	opacity: .50;
}

/*** Button Styles ***/

.btn {
  background-color: #ff7f3f;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #ffb72b;
  color: #fff;
  transition: 0.35s;
}

.btn-alt{
  background-color: #fff;
  color: #ff7f3f;
}

.btn-alt:hover {
  background-color: #95C843;
  color: #fff;
}

.btn-nav {
  margin: 0px 5px;
  transform: translatey(25%);
  background-color: #ffb72b;
}

.btn-nav:hover {
  background-color: #ff7f3f;
}

/*** Card Styles***/

.card {
	background-color: transparent;
	border-radius: 15pt;
	border: none;
	}

.goal-card .card-body{
	background-color: #F7E9B2;
	color: #95C843;
	font-size: 14pt;
	text-align: center;
	border: none;
	border-radius: 15pt;
}

.menu-card .card-img-top {
	margin-top: 10px;
}

.menu-card .card-body{
	background-color: #F7E9B2;
	border: none;
	color: #95C843;
	font-size: 12pt;
	text-align: center;
}

.menu-card .card-body-even{
	border-radius: 95% 5% 95% 5% / 5% 90% 10% 95%;	
}

.menu-card .card-body-odd{
	border-radius: 3% 97% 2% 98% / 94% 4% 96% 6% ;	
}

.rewards-card{
  margin: 50px 0px;
  height: 65%;
  background-color: #F7E9B2;
}

.rewards-card .card-img-block {
  margin: 0 auto;
  position: relative;
  top: -80px;
  width: 80%;
}

.rewards-card .card-img-block img{
  width: 70%;
  border-radius: 50%;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.rewards-card .card-body{
  margin: 0 auto;
  position: relative;
  top: -80px;
  color: #95c843;
  font-size: 18pt;
  text-align: center;
}


/*** Sections ***/

/* Navigation */
nav {
  background-color: #95C843;
  font-family: 'social-gothic', sans-serif;
  font-weight: 600;
  font-size: 17pt;
  color: #fff;
  margin: auto;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: 4.5rem;
}

.nav-item a{
  color: #fff;
  text-decoration: none;
  transform: translatey(25%);
}

.nav-item a:hover {
  color: #ffb72b;
  text-decoration: none;
  transition: 0.35s;
}


/* About */
#about {
	text-align: center;
}

@media (min-width: 301px) and (max-width: 767px) {
  #about {
    background-image: url("../img/about-background-sm.png");
	  background-color: #ff7f3f;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	  height: 90vh;
  }
.ourStory {
    margin-top: 3rem;
	  padding: 2rem;
  }
}

@media (min-width: 768px) {
  #about {
    background-image: url("../img/about-background-lg.png");
	  background-color: #ff7f3f;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	  height: 525px;
  }
.ourStory {
    margin-top: 2rem;
	  padding: 1rem;
  }
}

#vision {
	font-size: 15pt;
	background-color: #ff7f3f;
}

#values {
	background-color: #ffb72b;
}

#future {
	background-color: #95C843;
	font-size: 15pt;
}

/* Index */
#customize {
  text-align: center;
  color: #ffb72b;
}

.mainSmoothie {
  width: 350px;
}

@media (min-width: 301px) and (max-width: 768px) {
  #customize {
    background-image: url("../img/unleashed-background-sm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    text-align: justify;
  }
  .unleashed {
    margin-top: 3.5rem;
    padding: 2rem;
  }
}

@media (min-width: 769px) {
  #customize {
    background-image: url("../img/unleashed-background-lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	height: 550px;
  }
  .unleashed {
    padding: 3rem;
  }
}

#favorites {
  height: 575px;
  font-size: 13pt;
  color: #fff;
}

.favSmoothie {
  width: 250px;
}

#rewards {
  background-color:#95C843;
}

#location {
  background-color:#ff7f3f;
}

/* Desktop Carousel*/
#carouselDesktop{
	text-align:center;
	margin-top:60px
}
#carouselDesktop .carousel-indicators{
	position:auto;
	bottom:25;
	height:150px
}

#carouselDesktop .carousel-indicators li{
	width:auto;
	height:auto;
	text-indent:0%;
	background-color:transparent;
	margin-left:5px;
	margin-right:5px;
	flex-direction:column;
}

#carouselDesktop .carousel-indicators li img{
	transition: 0.5s
}

#carouselDesktop .carousel-indicators li.active{
	opacity: 1;
	transition:0.5s
}

#carouselDesktop .carousel-indicators li.active img{
	transform:scale(1.15);
	transition:transform .5s ease-in-out
}

#carouselDesktop .carousel-indicators li {
  opacity: .7;
  transition: opacity 0.6s ease;
}

#carouselDesktop .carousel-control-prev,
.carousel-control-next {
  opacity: 0.7;
  transition: opacity 0.15s ease;
}

/* Mobile Carousel */
#carouselMobile{
	text-align:center;
	margin-top: -15px
}

/* Rewards */

#signup {
	background-color: #ffb72b;
}
#benefits {
	background-color: #95c843;
}

/* Menu */

#juice {
	background-color:#95c843;
}

/* Custom Order Modal */
#customOption {
  color:#000;
  font-size: 12pt;
}

.alert.alert-info, .button
{ 
   max-width: 600px; 
   margin: 40px auto;
   text-align: center;
}

/* Pick Up */
#pickup {
  background-color: #F7E9B2;
  color: #000;
  font-size: 12pt;
}

/* Footer */

.page-footer {
  background-color: #ffb72b;
  color: #fff; 
  font-size: 13pt;
  margin: auto;
  padding: 10px 0px 5px;
  overflow: hidden;
  text-decoration: none;
}

.page-footer a {
  color: #fff;
  text-decoration: none;
}

.page-footer a:hover {
  color: #ff7f3f;
  text-decoration: none;
  transition: 0.35s;
}

.page-copyright {
font-size: 13px;
text-align: center;
}

/* Curves */
.curve svg {
  display: block;
}



